#loading {
    text-align: center;
    margin: 20px;
}
@media (max-width: 600px) {
    .footer-bar {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }
}
@media (min-width: 768px) {
    .table-wrapper {
        max-height: none;
        overflow-y: visible;
    }
}
.footer-copyright {
    font-size: 1.4vw;
    right: 10px;
    bottom: 5px;
    text-align: right;
    max-width: 100%;
}
.export-btn, .record-count {
    width: auto;
    padding: 8px 12px;
}
/* Positionner le bouton d'export en bas à droite */
.footer-bar {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
/* Styles identiques pour les deux éléments */
.record-count, .export-btn, button {
  font-size: 12px;
  height: 36px;
  padding: 0 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
/* Spécifique au bouton */
.export-btn {
  border: none;
  cursor: pointer;
}
.export-btn:hover {
  background-color: #081f57; /* Couleur de fond plus foncée au survol */
  color: white;
}
#data-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
#data-table th, #data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
#data-table thead input {
    width: 95%;
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
}
#data-table tr.clickable:hover {
    font-size:medium;
}
th.sorted-column {
    border-left: 2px solid #ddd;
  }
.footer-copyright {
    position: fixed;
    bottom: 0;
    right: 20px;
    font-size: 10px;
    color: #50c862;
    z-index: 500;
    padding-bottom: 6px;
}
table thead th {
  box-shadow: 0 2px 4px rgb(149, 28, 28, 0.1);
}
.table-wrapper {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  min-width: 600px;
}