:root {

    --color-main: #3700B3;
    --color-main-clair: #f0e7fa;
    --color-second: #63DAC5;
    --color-fondclair: #ffffff;
    --color-fondfonce: #6200EE;
    --color-maintext: #000000;
    --color-titretext: #ffffff;
    --color-error: #b00020;
}

body {
    margin: 0px;
}

div.canvas {
    border-style: dashed;
    border-color:  var(--color-fondfonce);
    border-width: 5px;
    /* margin: 10px;
    padding: 3px; */
}

/* h3 {
    padding: 10px;
    background-color: aquamarine;
} */

input {
    background-color: rgb(208, 237, 228);
    color: var(--color-fondfonce);
    font-weight: bold;
}
.entete {
    background-color: var(--color-main);
    display: flex;
    border-style: solid;
    border-color: var(--color-main-clair);
    border-width: 2px;
}
div.main {
    border-style: solid;
    border-color: var(--color-main-clair);
    border-width: 2px;
}
img {
    width: 50px;
    height: 50px;
    /* border-style: solid;
    border-color: aquamarine;
    border-width: 2px; */
}

div.entete {
    /* position: absolute; */
    /* left: 70px; */
    height: 72px;
    font-size: 1.6em;
    font-weight: bold;
    color: var(--color-main-clair);
    /* width: 100%; */
}
.conteneur {
    display: inline-flex;
    padding: 10px;
    border-style: solid;
    border-color: var(--color-main-clair);
    border-width: 1px;
    align-items: center;
}